/* possible colors analogous
#BF9E97
#AFA3C9
#99B2AC
#C9C9A3
#BFA79B
*/

:root {
    --light-purple: #BFBAE0;
    --purple:#8288B8;
    --dark-purple:#25253D; 
    --light-gray: #91939E;
    --periwinkleish: #919CEB;
    --dark-gray: #2F3033;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fff;
}

/* start header style */
header {
    background-color: var(--dark-gray);
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* 
    position: sticky;
    top: 0;
    z-index: 1;
       
    position: -webkit-sticky;
    position: sticky;
    top: 0;   */
    
}

header h1 {
   font-size: 40px;
   background-color: var(--purple);
   color: var(--dark-gray);
   padding: 15px 15px;
   margin: 20px 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    margin: 15px 15px;
    font-weight: lighter;
    color: var(--purple);
    font-size: 1.75vw;

}
/* end header style */

/*start hero style*/
.hero {
    padding: 10rem 5%;
    background: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("../assets/images/background-img.jpg");
    background-size: cover;
    height: 100px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    justify-content: center;
} 

.hero h2 {
    font-style: italic;
    font-size: 25px;
    color: var(--dark-purple);
}

.hero h2 div {
    padding: 10px 50px;
}
/* end hero style */

/* section-title style */
.section-title-first{
    font-size: 40px;
    color: var(--dark-gray);
    border-right:3px solid #fff;
    padding: 10px 25px;
    text-align: end;
}

.section-title-second {
    font-size: 40px;
    color: #919CEB;
    padding: 10px 20px;
}

/* start about me style */
.about {
    background-color: var(--purple) ;
    color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    
}

.about p {
    font-size: 18px;
    padding: 0 20px;
}

.about-img {
    padding: 30px;
}

/* end about me style */

/* start work style */
.work {
    padding: 20px 20px;
    background-color: var(--dark-gray);
    display: flex;
}

.work h2 {
    border-right:3px solid #fff;
    padding: 0 35px;
    
}

/*grid*/
.grid-wrapper {
    padding: 0 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    font-size: 1.2rem;
    color: var(--dark-purple);
}

.grid-item {
    border: 2px solid black;
    background: var(--light-gray);
    padding: 30px;
}

.grid-item h3 {
    font-size: 1.8rem;
}

.grid-item.surf {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    background-image: url("../assets/images/surf.jpg");
    background-size: cover;
    display:flex;
    flex-direction: column; 
    justify-content: flex-end; 
}

.grid-item.led {
    background-image: url("../assets/images/led.jpg");
    background-size: cover;
    
}

.grid-item.calc {
    background-image: url("../assets/images/calculator.jpg");
    background-size: cover;
}

.grid-item.pastel {
    background-image: url("../assets/images/pastel.jpg");
    background-size: cover;
}

.grid-item.run {
    background-image: url("../assets/images/run.JPG");
    background-size: cover;
}

.name {
    background: var(--light-gray);
    opacity: 80%;
    width: 50%;
    height: 120px;
}

.name2 {
    background:var(--light-gray);
    opacity: 80%;
    display: flex;
    flex-direction: column;
    line-height: 0vw;
}

.grid-item a {
    text-decoration: none;
    color: black;
}
/* end grid style */

/* start contact me style */
.contact-me {
    background-color: var(--purple);
    display:flex;
    justify-content: space-evenly;
    align-items: center; 
    text-decoration: none;
}


.contact-me h2 {
    margin-right: auto;
    padding: 0 20px;
}    

.contact-info a {
    margin-right: 8vw;
    margin-left: 8vw;
    color: var(--dark-gray);
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #fff;
}

.contact-info a:hover {
    color: var(--light-gray);
}

.resume {
    background: var(--dark-gray);
}