/* possible colors analogous
#BF9E97
#AFA3C9
#99B2AC
#C9C9A3
#BFA79B
*/

/*color scheme mutted purple 
#BFBAE0 --light purple
#8288B8 --deep blue/purple
#25253D -- really dark purple
#91939E -- light gray
#919CEB -- periwinkleish
#2F3033 --darker gray
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#fff;
}

/* start header style */
header {
    background-color: #2F3033;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  position: sticky;
        top: 0;
        z-index: 1;
       
        /* safari sticky */
        position: -webkit-sticky;
        position: sticky;
        top: 0;  
}

header h1 {
   font-size: 40px;
   background-color: #8288B8;
   color: #2F3033;
   padding: 15px 15px;
   margin: 20px 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    margin: 15px 15px;
    font-weight: lighter;
    color: #8288B8;
    font-size: 1.75vw;

}
/* end header style */

/*start hero style*/
.hero {
    padding: 10rem 5%;
    background: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("../assets/images/background-img.jpg");
    background-size: cover;
    height: 100px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    justify-content: center;
} 

.hero h2 {
    font-style: italic;
    font-size: 25px;
    color: #25253D;
}

.hero h2 div {
    padding: 10px 50px;
}
/* end hero style */

/* section-title style */
.section-title-first{
    font-size: 40px;
    color: #25253D;
    padding: 10px 20px;
}

.section-title-second {
    font-size: 40px;
    color: #919CEB;
    padding: 10px 20px;
}

/* start about me style */
.about {
    background-color: #8288B8 ;
    color: #2F3033;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about h2 {
    
    border-right:3px solid #fff;
    padding: 0 20px;
    text-align: end;

}

.about p {
    font-size: 18px;
    padding: 0 20px;
}

.about-img {
    padding: 30px;
}

/* end about me style */

/* start work style */
.work {
    padding: 10px 20px;
    background-color: #2F3033;
    display: flex;
}

.work h2 {
    border-right:3px solid #fff;
    padding: 0 20px;
    
}

/*grid*/
.grid-wrapper {
    padding: 0 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    font-size: 1.2rem;
    color: #25253D;
}

.grid-item {
    border: 2px solid black;
    background: #91939E;
    padding: 30px;
}

.grid-item h3 {
    font-size: 1.8rem;
}

.grid-item.surf {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    background-image: url("../assets/images/surf.jpg");
    background-size: cover;
    display:flex;
    flex-direction: column; 
    justify-content: flex-end;
}

.grid-item.led {
    background-image: url("../assets/images/led.jpg");
    background-size: cover;
}

.grid-item.calc {
    background-image: url("../assets/images/calculator.jpg");
    background-size: cover;
}

.grid-item.pastel {
    background-image: url("../assets/images/pastel.jpg");
    background-size: cover;
}

.grid-item.run {
    background-image: url("../assets/images/run.JPG");
    background-size: cover;
}